<!DOCTYPE html>
<html> 
 
<head>
  <script> type="text/javascript" src=""
  </script>
</head>
 
<body>
    <h2 class="center-align"> My Shelters</h2>
    
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li>Welcome, {{fullname}}</li>
        <li><a href="dashboard">Home</a></li>
        <li><a href="account">My Profile</a></li>
        <li><a href="resources">Resources</a></li>

      </ul>
      <form class = "left-align" id="signout" name ="signout" method="get" action ="/logout">
        <input class ="btn" type="submit" value ="logout">
    </form>
    </div>
    
  </nav>
  <div class="main">
      <h3>Choose Which Shelter You Would Like To Search</h3>
      <h4><a>Dumb Friends League</a></h4>
      <h4><a>Rocky Mountain Feline Rescue</a></h4>
      <h4><a>Max Fund</a></h4>
      <h4><a>Denver Animal Shelter</a></h4>


  </div>


  {{!-- <div class="container">
  <div id="map" class="col-md-8"></div>
  <div id="placesList" class="col-md-4"></div>
</div>
<!--This is our template. -->
<!--Data will be inserted in its according place, replacing the brackets.-->
<div class="container">
  <div id="map" class="col-md-8"></div>
  <div id="placesList" class="col-md-4"></div>
<script id="maps" type="text/x-handlebars-template">
  {{#each places}}
    <article class="media">
      <div class="media-center" {{#if this.img}}  style="background-image:url({{this.img}} )"{{/if}}></div>
      <div class="media-body"><a><h5 class="media-heading">{{this.name}}<span class="badge">{{this.rating}}</span></h5></a></div>
    </article>
  {{/each}}
</script>
</div> --}}
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXCYDyq-bo7-LPvyRsIngfSOhIDLnDL5Q&libraries=places&callback=initMap"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" ></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   


         
  
  
</body>
 
</html>